body {
  margin: 0;
  font-family: MadaniArabic, 'Inter', 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: MadaniArabic, 'Inter', 'Helvetica';
}

.heroImage {
  width: 450px;
  height: 550px;
  object-fit: contain;
  margin: auto 6rem;
}

.brandColor {
  color: rgba(41, 41, 136, 1);
}

.accentColor {
  color: rgba(255, 204, 0, 1);
}

.hero {
  margin: auto 6rem;
  height: 100vh;
  padding-top: 3rem;
}

.heroBtn {
  width: 50%;
  height: 60px;
  font-family: Inter;
  font-size: 1rem;
  color: #000;
  background-color: rgba(217, 217, 217, 1);
}

.heroDetail {
  padding: 7rem 0rem;
}

.box {
  position: absolute;
  top: 40%;
  right: 20%;
  width: 201px;
  height: 102px;
  background-color: rgba(217, 217, 217, 1);
}

.heroLeft {
  background-color: rgba(41, 41, 136, 0.1);
}

.circle {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 1);
}

.heroBtn2 {
  background-color: rgba(217, 217, 217, 1);
  width: 75%;
}

.numberSection {
  margin: auto 6rem;
  padding-top: 6rem;
}